* {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-decoration: none;
}

html { box-sizing: border-box; }

body {
  //max-width: 1200px;
  min-height: 2416px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  /*background-color: #91a79a;*/
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #f7f6f3;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary {
    display: block;
    width:189px;
    height: 45px;
    background: -webkit-linear-gradient(top, #f26743, #e74b36);
    background: linear-gradient(to bottom, #f26743, #e74b36);
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    font-size: 18px;
    line-height: 1.333;
    color: #ffffff;
    text-decoration: none;
    padding-top: 8px;
}

.btn:hover {
  color: #f7f6f3;
}

.btn:disabled,
.btn.disabled {
  cursor: default;
  opacity: 0.4;
}

.btn-warning {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.btn-warning:hover {
  background: linear-gradient(0deg, #ec6f5e, #f58669);
  box-shadow: 0 1px 2px 0 rgba(85, 5, 2, 0.5);
}

.btn-warning:active {
  background: linear-gradient(0deg, #e1613e, #e1613e);
  box-shadow: inset 0 1px 2px 0px rgba(85, 5, 2, 0.5);
}

/* Слайдер */


.slider-label {
  display: none;
}

.slider-input:checked ^ .slider-label {
  display: block;
}

.btn-header-big {
  position: absolute;
  top: 541px;
  left: calc(50% - 140px);
  padding: 0 46px;
  font-size: 31.48px;
  line-height: 62.93px;
  border-radius: 32px;
  color: #fff;
}

/* Стили хедер */

.page-header {
  position: relative;
  min-height: 115px;
  margin-bottom: 528px;
  padding-top: 21px;
}

.header-logo {
  float: left;
  width: 154px;
  height: 64px;
  margin-left: -6px;
  margin-top: -12px;
}

.nav-menu {
  float: left;
  width: 400px;
  margin-left: 16px;
  padding-bottom: 8px;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  display: block;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-left: 0px;
  padding-bottom: 20px;
  vertical-align: top;
}

.dropdown a:hover {
  background-color: #f7f6f3;
  border-radius: 16px;
  color: #000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 10;
  width: 143px;
  background-color: #f7f6f3;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.dropdown-menu li:first-child {
  position: relative;
}

.dropdown-menu li:first-child::after {
  content: '';
  position: absolute;
  top: 35px;
  width: 90%;
  margin-left: 5px;
  border-bottom: 1px solid #d1d0ce;
}

.dropdown-menu a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 14px;
  color: #000;
}

.dropdown-menu a:hover {
  background-color: #fbded7;
  border-radius: 0;
}

.dropdown-menu a:active {
  background-color: #f6b5a5;
}

.dropdown-menu a: {
  background-color: #d07058;
}

.dropdown-menu li:first-child a:hover,
.dropdown-menu li:first-child a:active {
  background-color: #f7f6f3;
}

.dropdown-menu a:nth-child(n+1) {
  font-weight: 400;
}

/* форма Поиска */

.search {
  position: relative;
  float: left;
  width: 330px;
  margin-left: 23px;
  padding-bottom: 8px;
}

.btn-search {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  float: right;
  vertical-align: top;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 50%;
}

.btn-search::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.png);
  background-position: -4px -1px;
}

.btn-search:hover,
.btn-enter:hover,
.btn-cart:hover {
  background-color: rgba(248, 247, 244, 1.0);
  color: #000;
}

.btn-search:hover::before {
  background-position: -4px -28px;
}

.header-search {
  display: none;
}

.search-wrapper {
  width: 33px;
  float: right;
  padding-bottom: 20px;
}

.search-wrapper:hover > .header-search {
  position: absolute;
  display: block;
  top: 36px;
  left: -12px;
  width: 312px;
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
}

.search-form {
  position: relative;
}

.search-form-input {
  width: 310px;
  padding: 8px 12px;
  font-weight: 400;
  line-height: 24.3px;
  border: 1px solid rgb(199, 198, 197);
  border-radius: 3px;
}

.search-form-input:hover {
  padding: 7px 11px;
  border: 2px solid rgb(199, 198, 197);
}

.search-form .form-label {
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  width: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.3px;
  color: #9b9b9b;
}

.search-form-input:focus + .form-label {
  display: block;
  position: absolute;
  top: -18px;
  left: 15px;
  width: 130px;
  font-size: 11px;
  font-weight: 400;
  color: #8fbdec;
}

/* конец Поиск */
/* вход и корзина */

.user-block {
  position: relative;
  float: right;
  width: 220px;
  padding-bottom: 8px;
}

.btn-enter,
.btn-cart {
  position: relative;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}

.btn-enter {
  float: left;
  padding: 8px;
  padding-left: 45px;
  padding-right: 16px;
}

.btn-enter::before,
.btn-cart::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 15px;
  width: 20px;
  height: 20px;
}

.btn-enter::before {
  background-image: url(../img/sprite.png);
  background-position: -6px -58px;
}

.btn-enter:hover::before {
  background-position: -7px -91px;
}

.header-enter {
  display: none;
}

.user-wrapper,
.cart-wrapper {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
}

.user-wrapper:hover > .header-enter {
  position: absolute;
  display: block;
  top: 36px;
  left: -180px;
  width: 239px;
  padding: 22px 16px 15px;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .3);
}

.header-enter form {
  display: block;
}

.header-enter-input,
.header-enter-input {
  position: relative;
  width: 213px;
  margin-bottom: 12px;
  padding: 9px 12px;
  border: 1px solid rgb(199, 198, 197);
  border-radius: 3px;
  color: #999;
}

.header-enter-input:hover,
.header-enter-input:hover {
  padding: 8px 11px;
  border: 2px solid rgb(199, 198, 197);
}

.header-enter-input[type="email"] + label,
.header-enter-input[type="password"] + label {
    position: absolute;
    left: 29px;
    width: 160px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.3px;
    color: #9b9b9b;
}

.header-enter-input[type="email"] + label {
  top: 29px;
}

.header-enter-input[type="password"] + label {
  top: 77px;
}

.header-enter-input[type="email"]:focus + label,
.header-enter-input[type="password"]:focus + label {
    position: absolute;
    left: 29px;
    width: 160px;
    font-size: 11px;
    font-weight: 400;
    color: #8fbdec;
}

.header-enter-input[type="email"]:focus + label {
  top: 4px;
}

.header-enter-input[type="password"]:focus + label {
  top: 54px;
}

.btn-enter-form {
  float: left;
  margin-top: 4px;
  margin-right: 19px;
  padding: 10px 23px;
  border-radius: 18px;
}

.password,
.register {
  font-size: 13px;
  font-weight: 400;
  line-height: 23.4px;
  color: #000;
  text-decoration: underline;
}

.password:hover,
.register:hover {
  text-decoration: none;
}

.btn-cart {
  float: right;
  padding: 8px;
  padding-right: 35px;
  padding-left: 44px;
}

.btn-cart::before {
  background-image: url(../img/sprite.png);
  background-position: -6px -121px;
}

.btn-cart:hover::before {
  background-position: -7px -152px;
}

.header-cart {
  display: none;
}

/* расписание работы */

.schedule {
  float: right;
  width: 173px;
  margin-top: 18px;
}

.mode {
  margin: 0;
  font-size: 14px;
  text-indent: 18px;
}

.phone {
  font-size: 22px;
  font-weight: 900;
}

/* Конец хедер */
/* баннеры */

.selection {
  margin-bottom: 40px;
}

.selection img {

}

.selection-left,
.selection-right {
  position: relative;
  width: 560px;
  height: 229px;
  background-color: #482d21;
}

.selection-left {
  float: left;
}

.selection-right {
  float: right;
}

.selection-item {
  position: relative;
}

.selection-wrapper {
  position: absolute;
  z-index: 10;
  top: 17px;
  left: 18px;
}

.selection h2,
.selection p {
  margin: 0;
  padding: 0;
}

.selection p {
  width: 530px;
  margin-top: 17px;
  letter-spacing: -0.1px;
}

.selection-right p {
  letter-spacing: -0.8px;
}

.selection h2 {
  font-size: 35px;
}

.selection p,
.btn-middle {
  font-size: 18px;
}

.btn-middle {
  position: absolute;
  bottom: 25px;
  right: 20px;
  padding: 13px;
  padding-left: 23px;
  padding-right: 23px;
  border-radius: 22px;
}

/* Хиты */

.index {
  margin-bottom: 12px;
}

.index-hit > .index-cream::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../img/sprite.png) no-repeat;
  background-position: -95px -10px;
}

/* конец Хит */
/* О магазине */

.features {
  width: 1146px;
  height: 281px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 25px;
  background: #eaddc1 url(../img/wafer.png);
  border-radius: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #000;
}

.features p:first-child {
  margin: 0;
}

.features b {
  display: block;
  margin-left: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.features-index {
  position: relative;
  display: block;
  float: left;
  width: 482px;
  margin: 20px 7px 2px 77px;
  line-height: 22px;
}

.features-index:nth-child(2n+1) {
  margin-right: 0;
}

.features-index::before {
  content: '';
  position: absolute;
  top: -13px;
  left: -57px;
  width: 49px;
  height: 49px;
  background-image: url(../img/sprite.png);
}

.features-index-1::before {
  background-position: -100px -80px;
}

.features-index-2::before {
  background-position: -164px -140px;
}

.features-index-3::before {
  background-position: -100px -140px;
}

.features-index-4::before {
  background-position: -40px -140px;
}

/* Конец о магазине */
/* Блог и Подписка */

.news {
  margin-bottom: 40px;
}

.news-left,
.news-right {
  width: 560px;
  height: 220px;
  background-color: #fff;
  border-radius: 14px;
  color: #000;
}

.news-left {
  float: left;
  background-image: url(../img/blog-back.png);
}

.news-left span {
  display: block;
  margin-left: 20px;
  margin-top: 25px;
}

.news-left a {
  display: block;
  margin-left: 20px;
  margin-top: 8px;
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline;
  color: #000;
}

.news-right {
  float: right;
  background-image: url(../img/post-back.png);
}

.news-right-wrapper {
  width: 550px;
  height: 209px;
  margin: 5px;
  background-color: #f8f7f4;
  border-top: 1px solid transparent;
  border-radius: 10px;
}

.news-right p {
  display: block;
  margin: 30px 22px 35px;
  font-weight: 400;
  line-height: 22px;
  color: #8e8e8d;
}

.delivery {
  position: relative;
  margin: 0 20px;
}

.news-input {
  width: 340px;
  padding: 8px;
  font-weight: 400;
  line-height: 24.3px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.news-input:hover {
  padding: 7px;
  border: 2px solid #d3d3d2;
}

.news-input-label {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 150px;
  font-weight: 400;
  line-height: 24.3px;
  color: #808080;
}

.news-input:focus + .news-input-label {
  position: absolute;
  top: -19px;
  left: 9px;
  width: 150px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24.3px;
  color: #8fbdec;
}

.btn-news {
  margin-left: 8px;
  margin-top: -2px;
  padding: 13px 21px;
  border-radius: 22px;
}

/* конец Новости и Подписка */
/* Карта */

.map {
  position: relative;
  z-index: 1;
  height: 428px;
}

.yandex-map {
  position: relative;
  z-index: 2;
}

.map-form {
  position: absolute;
  z-index: 10;
  right: 27px;
  top: 66px;
  width: 277px;
  height: 290px;
  padding-left: 27px;
  padding-top: 15px;
  background-color: #fff;
  border-radius: 13px;
  color: #000;
}

.map-form p {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.map-form span {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.btn-map {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: block;
  width: 250px;
  height: 44px;
  line-height: 44px;
  border-radius: 22px;
  color: #fff;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

/* конец Карта и Основная часть */
/* вложенные страницы */

.catalog-page {
  width: 1200px;
  min-height: 1600px;
  margin: 0 auto;
  padding: 0;
  background-color: #91a79a;
}

.catalog-page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-page .page-header {
  margin-bottom: -30px;
}

.active {
  position: relative;
  display: block;
  padding: 8px 14px 20px 14px;
  color: #fff;
}

.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 88px;
  height: 34px;
  background-color: #d07058;
  border-radius: 16px;
}

.dropdown-menu .active {
  padding-bottom: 8px;
}

.dropdown-menu .active::before {
  width: 100%;
  border-radius: 0;
}

/* Пагинатор */

.main {
  padding-bottom: 72px;
  border-bottom: 1px solid rgba(248, 247, 244, .5);
}

.breadcrumbs {
  margin-bottom: 53px;
}

.breadcrumbs ul {
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  padding-right: 7px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
}

.breadcrumbs li::after {
  content: "»" ;
  position: absolute;
  right: -5px;
  top: 0px;
}

.breadcrumbs li:last-child::after {
  display: none;
}

.breadcrumbs a {
  text-decoration: underline;
  color: inherit;
}

.breadcrumbs h1 {
  margin-top: 5px;
  font-size: 35px;
  line-height: 30px;
}

/* Фильтр */
/* Селект */

.filter-item {
  width: 885px;
}

.filter {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  list-style: none;
}

.filter-label {
  position: absolute;
  top: -23px;
  left: 15px;
  font-size: 14px;
  font-weight: 500;
}

.filter option {
  font-size: 14px;
  font-weight: 400;
  border: none;
  outline: none;
}

.filter option {
  color: #000;
}

.filter-popular,
.filter-price,
.filter-fat,
.filter-fill {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  border: none;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, .2);
}

.filter-popular {
  width: 193px;
  padding: 8px 20px 9px 20px;
  border: none;
  outline: none;
}

.no-visible {
  display: none;
}
.filter-popular:hover,
.filter-popular:active {
  background-color: #fff;
  color: #000;
}

/* конец Селект */
/* Цены */

.filter-price {
  width: 218px;
  height: 36px;
}

.price-input,
.fat-input,
.fill-input {
  display: none;
}

.filter-price .min-price {
  content: '';
  position: absolute;
  top: 21%;
  left: 7%;
  width: 86%;
  height: 4px;
  background-color: rgba(248, 247, 244, .5);
}

.filter-price .max-price {
  content: '';
  position: absolute;
  top: 21%;
  left: 20%;
  width: 50%;
  height: 4px;
  background-color: rgba(248, 247, 244, 1);
}

.filter-price .min-price-left::before,
.filter-price .max-price-right::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(248, 247, 244, 1);
}

.filter-price .min-price-left::before {
  left: 5%;
}

.filter-price .max-price-right::before {
  left: 85%;
}

.filter-price .min-price-left:hover::before,
.filter-price .max-price-right:hover::before {
  cursor: pointer;
}

/* конец Цена */
/* Жирность */

.filter-fat {
  width: 415px;
  height: 36px;
}

.filter-fat-label {
  position: relative;
  display: inline-block;
  margin-left: 44px;
  padding-top: 9px;
}

.fat-input + .filter-fatness {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(248, 247, 244, 1);
  border-radius: 50%;
}

.fat-input:checked + .filter-fatness::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: rgba(248, 247, 244, 1);
  border-radius: 50%;
}

.fat-input + .filter-fatness:hover {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(248, 247, 244, 1);
  border-radius: 50%;
}

.fat-input:checked + .filter-fatness::before:hover {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: rgba(248, 247, 244, 1);
  border-radius: 50%;
}

.fat-input + .filter-fatness:disabled {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(248, 247, 244, .4);
  border-radius: 50%;
}

.fat-input:checked + .filter-fatness::before:disabled {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: rgba(248, 247, 244, .4);
  border-radius: 50%;
}



/* конец Жирность */
/* Наполнители */

.filter-fill {
  width: 702px;
  height: 36px;
}

.filter-fill-label {
  position: relative;
  display: inline-block;
  margin-left: 50px;
  padding-top: 9px;
}

.fill-input + .filter-fillness {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(248, 247, 244, .5);
  border-radius: 5px;
}

.fill-input:checked + .filter-fillness::before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 4px;
  height: 10px;
  border: 2px solid rgba(248, 247, 244, 1);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

.fill-input + .filter-fillness:hover {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(248, 247, 244, .5);
  border-radius: 5px;
}

.fill-input:checked + .filter-fillness::before:hover {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 4px;
  height: 10px;
  border: 2px solid rgba(248, 247, 244, 1);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

.fill-input + .filter-fillness:disabled {
  content: '';
  position: absolute;
  top: 8px;
  left: -30px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(248, 247, 244, .5);
  border-radius: 5px;
}

.fill-input:checked + .filter-fillness::before:disabled {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 4px;
  height: 10px;
  border: 2px solid rgba(248, 247, 244, 1);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

.btn-submit {
  padding: 9px 32px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(248, 247, 244, 0.2);
  border: 2px solid rgba(248, 247, 244, 1);
  border-radius: 18px;
}

.btn-submit:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #000;
}

.btn-submit:active {
  padding: 11px 34px;
  background-color: rgba(234, 234, 234, 1);
  border: none;
  -webkit-box-shadow: inset 0 2px 2px 1px #6c6d6c;
  box-shadow: inset 0 2px 2px 1px #6c6d6c;
}

/* конец Фильтры */
/* Основной контент */

.catalog-page .index {
  margin-bottom: 85px;
}

.index ul {
  margin: auto;
  padding: 0;
}

.index-cream {
  position: relative;
  display: block;
  float: left;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
}

.index-cream:nth-child(4n) {
  margin-right: 0;
}

.index-cream::before {
  content: "";
  position: absolute;
  left: -13px;
  top: -13px;
  z-index: -1;
  display: none;
  width: 293px;
  height: 328px;
  padding-bottom: 77px;
  background-color: rgba(255, 255, 255, .2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.index-cream:hover {
  z-index: 1;
}

.catalog-page .index-cream:hover::before {
  display: block;
}

.index-cream:hover .btn {
  display: block;
}

.index-img {
  width: 267px;
  height: 267px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

 .btn-catalog {
  display: none;
  position: absolute;
  left: 50%;
  top: 339px;
  width: 196px;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  -webkit-transform: translate(-50%, 0);
     -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
       -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.index-price {
  position: relative;
  display: block;
  margin-top: -65px;
  font-size: 43px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

}

 .index-price small {
  font-size: 24px;
}

.index-price img {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

.index-title {
  display: block;
  margin-top: 25px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
}

.index-title span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}



.catalog-page .index-price,
.catalog-page .index-weight {
}


/* конец Основной контент */
/* Пагинатор */

.catalog-page .paginator {
  float: right;
  width: 220px;
  margin-bottom: 40px;
}

.paginator a,
.page-active,
.page-start {
  display: block;
  float: left;
  padding: 5px 10px;
  border-radius: 50%;
  color: #fff;
}

.paginator .arrow-left,
.paginator .arrow-right {
  content: '';
  margin-top: 7px;
  padding: 5px;
  border: 2px solid rgba(255, 255, 255,  1);
  border-radius: 0;
  transform: rotate(45deg);
}

.paginator .arrow-left {
  border-right: none;
  border-top: none;
}

.paginator .arrow-right {
  border-left: none;
  border-bottom: none;
}

.paginator .page-disabled {
  border-color: rgba(255, 255, 255,  .3);
}

.paginator .page-active  {
  background-color: rgba(255, 255, 255,  1);
  color: #000;
}

.paginator a:hover {
  background-color: rgba(248, 247, 244, .3);
}

.paginator a:active {
  background-color: rgba(255, 255, 255,  1);
  color: #000;
}

.paginator .arrow-right:hover,
.paginator .arrow-left:hover {
  background-color: transparent;
}

.paginator .page-active {

}

/* футер */

.page-footer {

}

.footer-social {
  float: left;
  width: 198px;
  height: 38px;
  margin-top: 36px;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  font-size: 0;
  vertical-align: top;
  border: 4px solid rgba(255, 255, 255, .5);
  border-radius: 50%;
}

.social-btn::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  width: 32px;
  height: 32px;
  background-image: url(../img/sprite.png);
  opacity: 0.8;
  border-radius: 50%;
}

.social-btn-tw::before {
  background-position: -164.5px -101px;
}

.social-btn-inst::before {
  background-position: -164.5px -59px;
}

.social-btn-fb::before {
  background-position: -164.5px -14px;
}

.social-btn-vk::before {
  background-position: -208px -14px;
}

.social-btn:hover {
  border: 4px solid rgba(255, 255, 255, .71);
}

.social-btn:hover::before {
  opacity: 0.98;
}

.social-btn:active {
  border: 4px solid rgba(255, 255, 255, .7);
}

.social-btn:active::before {
  opacity: 1.0;
  box-shadow: inset 0 2px 2px 1px #8f8f8f;
}

.footer-menu {
  float: left;
  width: 370px;
  height: 40px;
  margin-left: 185px;
  margin-top: 35px;
}

.footer-menu ul {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  list-style: none;
}

.footer-menu ul:first-child::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -19px;
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.png);
  background-position: -217px -64px;
}

.footer-menu li {
  display: block;
}

.footer-menu a {
  font-size: 13px;
  font-weight: 400;
  color: inherit;
  text-decoration: underline;
}

.footer-copyright {
  float: right;
  width: 190px;
  height: 60px;
  margin-top: 18px;
  margin-bottom: 28px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.footer-copyright a {
  color: #fff;
  text-decoration: underline;
}

.footer-copyright p {
  margin-top: 4px;
}


/* Всплывающая форма обратной связи. */

.common {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 430px;
  z-index: 20;
  padding: 19px 24px;
  background-color: rgb(248,247,244);
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.common,
.common-overlay {
  display: none;
}

.common-content-show {
  display: block;
  animation: bounce 0.6s;
}


.common-error {
  animation: shake 0.6s;
}

.common-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.common-close {
  position: absolute;
  text-outline: 10px;
  right: 20px;
  z-index: 30;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.common-close::before,
.common-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: rgba(0,0,0,.5);
}

.common-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.common-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.common h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
}

.common-form {
  position: relative;
}

.name-input,
.email-input {
  width: 265px;
  margin-bottom: 22px;
  padding: 9px 12px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  color: #9b9b9b;
}

.name-input:hover,
.email-input:hover {
  padding: 8px 11px;
  border: 2px solid #c7c6c5;
}

.text-input {
  margin-bottom: 25px;
  padding: 9px 12px;
  width: 400px;
  height: 128px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  color: #9b9b9b;
  resize: none;
}

.text-input:hover {
  padding: 8px 11px;
  border: 2px solid #c7c6c5;
}

.common-form button {
  float: right;
  padding: 10px 23px;
  border-radius: 18px;
}

.name-input + label,
.email-input + label,
.text-input + label {
  position: absolute;
  display: block;
  left: 13px;
  width: 190px;
  font-weight: 400;
  line-height: 24.3px;
  color: transparent;
}

.name-input + .name-input-label {
  top: 8px;
}

.email-input + .email-input-label {
  top: 68px;
}

.text-input + .text-input-label {
  top: 128px;
}

.name-input:focus + label,
.email-input:focus + label,
.text-input:focus + label {
  font-size: 11px;
  color: #8fbdec;
}

.name-input:focus + .name-input-label {
  top: -19px;
}

.email-input:focus + .email-input-label {
  top: 41px;
}

.text-input:focus + .text-input-label {
  top: 101px;
}

.label-hide {
  display: none;
}



/*слайдер*/
.slider {
    min-height: 265px;
}

/*кнопки слайдера*/
.btn-large {
    position: absolute;
    width: 280px;
    height: 64px;
    top: 146px;
    left: 433px;
    border-radius: 32px;
    font-size: 32px;
    line-height: 1.375;
    text-shadow: 0 2px 5px #a0200b;
}

.btn-large:hover {
    background: -webkit-linear-gradient(top, #f58569, #ec6f5e);
    background: linear-gradient(to bottom, #f58569, #ec6f5e);
    box-shadow: 0 2px 2px #ac1000;
}

.btn-large:active {
    background: -webkit-linear-gradient(top, #d84732, #e1613e);
    background: linear-gradient(to bottom, #d84732, #e1613e);
    box-shadow: inset 0 2px 2px #942718;
}

/*переделанная реализация слайдера из лекций*/
body > input[type="radio"] {
    display: none;
}

.site-wrapper {
    width: 100%;
    min-width: 1200px;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
    position: relative;
    margin-top: -270px;
    text-align: center;
    color: #ffffff;
}

.slide {
    display: none;
}

.slide .h1 {
  font-size: 60px;
  line-height: 60px;
}

.first-item .h1 {
    width: 675px;
    height: 105px;
    margin-left: 234px;
    margin-top: 5px;
}

.second-item .h1 {
    width: 647px;
    height: 120px;
    margin-left: 249px;
    margin-top: 5px;
}

.third-item .h1 {
    width: 644px;
    height: 120px;
    margin-left: 248px;
    margin-top: 5px;
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 10;
    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    margin-right: 8px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.first-btn:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/icecream1.png");
}

.second-btn:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/icecream2.png");
}

.third-btn:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/icecream3.png");
}

.first-btn:checked ~ .site-wrapper .first-item,
.second-btn:checked ~ .site-wrapper .second-item,
.third-btn:checked ~ .site-wrapper .third-item {
    display: block;
}

.first-btn:checked ~ .site-wrapper .first-label,
.second-btn:checked ~ .site-wrapper .second-label,
.third-btn:checked ~ .site-wrapper .third-label {
    background-color: #ffffff;
}

.first-btn:checked ~ .site-wrapper .second-label:hover,
.first-btn:checked ~ .site-wrapper .third-label:hover {
    background-color: #b2c1b7;
}

.second-btn:checked ~ .site-wrapper .first-label:hover,
.second-btn:checked ~ .site-wrapper .third-label:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.third-btn:checked ~ .site-wrapper .first-label:hover,
.third-btn:checked ~ .site-wrapper .second-label:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
